/* CSS Reset, Globals and Custom Fonts */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: rgb(255, 255, 255);
  --light-grey: rgb(230, 228, 228);
  --dark-grey: rgba(150, 150, 150, 0.91);
  --black: rgb(0, 0, 0);
  --blue-steel: rgb(52, 214, 220);
  --green: rgb(98, 228, 65);
  --red: rgb(249, 55, 55);
  --shadow: rgba(0, 0, 0, 0.218) 0px 1px 4px;
  --btn-shadow: var(--blue-steel) 6px 6px 6px;
  --border-radius: 6px;
  --container-width: 1600px;
  --spacing-xs: 1rem;
  --spacing-s: 2rem;
  --spacing-m: 3rem;
  --spacing-l: 6rem;
  --spacing-xl: 10rem;
  --primary-font: Hack;
  --secondary-font: Philosopher;
  --title-font: Texas Tango;
}

@font-face {
  font-family: Philosopher;
  src: url("fonts/Philosopher.woff2") format("woff2"),
    url("fonts/Philosopher.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Texas Tango;
  src: url("fonts/TexasTangoBOLDPERSONALUSE.woff2") format("woff2"),
    url("fonts/TexasTangoBOLDPERSONALUSE.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Hack;
  src: url("fonts/Hack-Regular.woff2") format("woff2"),
    url("fonts/Hack-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: var(--light-grey);
  color: var(--black);
  font-family: Hack, Philosopher, "Lucida", "Roboto";
  font-size: 1rem;
  word-wrap: break-word;
  /* footer support */
  margin-bottom: 100px;
}

/* Utilities */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.btn {
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
  border: none;
  padding: var(--spacing-xs) var(--spacing-s);
  transition: transform 0.1s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

/* HEADER Styling */
.header {
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.container {
  padding: var(--spacing-m);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.btn-login {
  font-size: 1.15rem;
  font-weight: 600;
  box-shadow: var(--shadow);
}

.btn-login:hover {
  box-shadow: var(--btn-shadow);
  background-color: var(--dark-grey);
}

.label {
  font-weight: bolder;
}

/* MAIN */

.main {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: var(--spacing-s);
}

.btn-add {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
}

.btn-add:hover {
  background-color: var(--blue-steel);
  color: var(--light-grey);
}

.books-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--spacing-m);
  padding-top: var(--spacing-s);
}

.book-card {
  background-color: var(--blue-steel);
  border: 2px solid var(--light-grey);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs);
}

.book-info {
  margin-top: var(--spacing-xs);
}

#btn-delete,
#btn-read {
  font-size: 1.1rem;
  font-weight: 600;
}

#btn-delete:hover {
  background-color: var(--red);
}

.read {
  background-color: var(--green);
}

.not-read {
  background-color: var(--red);
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: var(--blue-steel);
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.am-github {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out;
}

.am-github:hover {
  transform: scale(1.25);
} /* Pulls focus to github link when hovered */

a {
  text-decoration: none;
}
